
<body>
    <img src="assets/images/backgroundprofcover.jpg" style="width: 1580px;height: 2330px;">
    <br><br>
    <div class="wrkpanel">
        <div class="wrkpn">
    <div class="row">
        <div class="col-md-5" id="bg">
            <i class="fa fa-briefcase fa-2x" style="margin-top: 165px;"></i>
            <h2 class="exp"><b>WORK EXPERIENCE</b></h2>
        </div>
        <div class="col-md-7" style="background-color:white">
                <div class="wrkdetails">
                <h5>Software Engineer -
                    Talent Recruit Software Pvt. Ltd.</h5><br>
                 
                    <li>Resolved various UI and Functionality issues</li><br>
                    <li>Hosted many clients website with company domain using goDaddy.</li><br>
                    <li>Proficient understanding of code versioning tools such as Git, SVN.</li><br>
                    <li>Integrated Facebook API in Web based Application.</li><br>
                    <li>Worked on user rights for many roles in web Application</li><br>
                    <li>Resolved various Tasks in Product.</li><br>
                </div>
        </div>
      </div>
    </div>

    <div class="panel">
    <div class="row">
        <div class="col-md-5" id="bg">
            <i class="fa fa-microchip fa-2x" style="margin-top:185px"></i>
            <h2 class="skills"><b>SKILLS SET</b></h2>
        </div>
        <div class="col-md-7">
            <div class="skilldiv">
                <div class="row">
                    <div class="col-sm-3">
                        HTML5 <br><br>
                        CSS 3 <br><br>
                        JAVASCRIPT <br><br>
                        JQUERY <br><br>
                        ANGULAR <br><br>
                        SASS <br><br>
                    </div>
                    <div class="col-sm-9">
                        <meter min="0" max="10" value="9"></meter><br><br>
                        <meter min="0" max="10" value="8"></meter><br><br>
                        <meter min="0" max="10" value="7"></meter><br><br>
                        <meter min="0" max="10" value="8"></meter><br><br>
                        <meter min="0" max="10" value="7"></meter><br><br>
                        <meter min="0" max="10" value="7"></meter><br><br>
                    </div>
                </div> 
            </div>    
        </div>
    </div>
    </div>


    <div class="panel">
    <div class="row">
        <div class="col-md-5" id="bg">
            <i class="fa fa-trophy fa-2x" style="margin-top:90px;"></i>
            <h2 class="ach"><b>ACHIEVEMENTS</b></h2>
        </div>
        <div class="col-md-7" style="background-color:white">
            <div class="achdetails">
                <li>On time delivery of multiple software releases to the Customer</li><br>
                <li>Successfull in saving time & efforts by faster resolution of software UI issues</li><br>
                <li>Successfully implemented new features in the software</li><br>
            </div>  
        </div>
    </div>
    </div>

    <div class="panel">
    <div class="row">
        
        <div class="col-md-5" id="bg">
            <i class="fa fa-product-hunt fa-2x" style="margin-top:250px"></i>
            <h2 class="prj"><b>ACADEMIC PROJECTS</b></h2> 
        </div>
        <div class="col-md-7">
            <div class="achdetails">
                <h5>Online Salon Booking System (C-DAC Project)</h5>    
                <section>
                    This project deals with developing a website for online salon management.
                    it provides platform for the users with a number of different salon option to book appointment and desired services.
                    this is implemented using a 3 tier approach with back end database as MySql, a middle tier with java, Servlet, JSP, Hibernet and Server as 
                    Apache Tomcat.
                </section><br>
            
                <h5>Academic Web Portal ( BE Project )</h5>
                <section>
                    This project deals with developing a website for online salon management.
                    it provides platform for the users with a number of different salon option to book appointment and desired services.
                    this is implemented using a 3 tier approach with back end database as MySql, a middle tier with java, Servlet, JSP, Hibernet and Server as 
                    Apache Tomcat.
                </section><br>
            
                <h5>Developed Client Side Website ( Personal Project)</h5>
                <section>
                    This project deals with developing a website for online salon management.
                    it provides platform for the users with a number of different salon option to book appointment and desired services.
                    this is implemented using a 3 tier approach with back end database as MySql, a middle tier with java, Servlet, JSP, Hibernet and Server as 
                    Apache Tomcat.
                </section><br>
            </div>       
        </div>
    </div>
    </div>

    <div class="panel">
    <div class="row">
        <div class="col-md-5" id="bg">
            <i class="fa fa-cog fa-2x" style="margin-top:60px"></i>
            <h2 class="wshp"><b>WORKSHOP</b></h2>
        </div>
        <div class="col-md-7">
            <div class="achdetails">
                <section>Attended workshop on Andriod Application Developement at SKNCOE sinhgad institute Pune.</section>
            </div>
            <br>
        </div>
    </div>
    </div>

    <div class="panel">
    <div class="row">
        <div class="col-md-5" id="bg">
            <i class="fa fa-certificate fa-2x" style="margin-top: 40px;"></i>
            <h2 class="cert"><b>CERTIFICATE</b></h2>
        </div>
        <div class="col-md-7">
            <div class="achdetails">
                <section>Front End Web Developement udemy certification</section>
            </div>
            <br>
        </div>
    </div>
    </div>

    </div>  
</body>
   
    
    
   
        