    
    <img src="assets/images/homeimg.png" class="homeimg"> 

<div id="div1"><h3 style="font-family: parallex;"><b>WELCOME</b></h3></div><br>
<div id="div2"><h3 style="font-family: parallex;"><b>TO MY</b></h3></div><br>
<div id="div3"><h3 style="font-family: parallex;"><b>PORTFOLIO</b></h3></div>

<section class="arrowsection">
<section class="arrow1">
<i class="fa fa-angle-double-up fa-2x" style="color:lightseagreen"></i>
</section>
<section class="arrow2">
    <i class="fa fa-angle-double-up fa-2x" style="color:lightseagreen"></i>
</section>
</section>

